In [3]:
import pandas as pd
df = pd.read_excel("/Users/sivagar/Desktop/sherad/data/synthetic_jobs_r1to6_full.xlsx")
df[df["COLCOUNT"] >= 6]["MACHCODE"].value_counts()

MACHCODE
GOP    7
GPO    5
Name: count, dtype: int64

In [4]:
df[["ORDERNO", "BOARD_ARRIVAL_USED", "DUEDATE"]].head(10)

   ORDERNO  BOARD_ARRIVAL_USED    DUEDATE
0    20001 2025-06-13 17:00:00 2025-06-15
1    20016 2025-06-11 17:00:00 2025-06-15
2    20014 2025-06-14 17:00:00 2025-06-16
3    20028 2025-06-12 17:00:00 2025-06-16
4    20004 2025-06-15 17:00:00 2025-06-17
5    20025 2025-06-15 17:00:00 2025-06-17
6    20007 2025-06-14 17:00:00 2025-06-17
7    20015 2025-06-13 17:00:00 2025-06-17
8    20027 2025-06-16 17:00:00 2025-06-18
9    20026 2025-06-17 17:00:00 2025-06-19